.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px;
  font-family: 'Roboto', sans-serif;
  color: hsl(0, 0%, 100%);
  background-color: hsl(0, 0%, 4%);
  height: 8vh;
}

.title {
  font-size: 2.5rem;
  letter-spacing: 10px;
  margin-left: 30px;
}

.links {
  display: flex;
  list-style-type: none;
  width: 30%;
  justify-content: space-around;
  font-size: 1.2rem;
  color: hsl(0, 0%, 100%);
}

.links li {
  color: #fff
}